body {
	margin-left: 1%;
	margin-right: 1%;
	padding: 0;
	background-color: #f7f1f0;
	background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
	}


nav {
	border: 2px double #201c22;
	border-top: none;
	border-left: none;
	border-right: none;
	display: inline-block;
	height: 100px;
	width: 100%;
	margin-left: 1.5%; 
	margin-right: 1.5%;
}

ul {
	display: inline-block;
	width: 70%;
	padding: 30px;
	padding-left: 20px;
	padding-right: 0px;
}
/*left side of nav bar */
.leftnav {
	/*border: 1px solid green;*/
	display: inline-block;
	width: 20%;
	height: 100%;
}

/* us to change words directly*/
.rightnav li {
	color: #201c22;
	display: inline-block; 
	margin-right: 10%;
	font-size: large;
}
/*right side of nav bar*/
.rightnav {
	display: inline-block;
	width: 75%;
	height: 100%;
	text-align: right;
}
/* DIAMOND ICON */
.leftnav i {
	/*border: 1px solid white;*/
	display: inline-block;
	color: rgb(173, 44, 0); 
	margin-left: 3%;
}
/* liquid gem writing */
.leftnav h2 {
	/*border: 1px solid white;*/
	display: inline-block;
	color: #201c22;
	font-style: italic;
}
/* -----head section ---- */

#head {
	/*border: 1px solid white;*/
	height: 550px;
	padding-top: 3%;
}

h1.name {
	/*border: 1px solid yellow;*/
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
}
/* smaller font writing */
h1.name .small {
	font-size: medium;
}
/*color of my name */
h1.name .myname {
	color: rgb(173, 44, 0); 
}
.sunset {
	border-radius: 15px;
	margin-top: 2%;
	box-shadow: 10px 10px 5px grey;
}

img:hover{
	box-shadow: none;
}

/* MIDDLE OF PAGE */

#belly {
	width: 100%;
	margin-top: 1%;
}
/* boxes for about and my work*/
.intro {
	/*border: 1px solid pink;*/
	display: inline-block;
	width: 45%;
	text-align: center;
	padding: 2%;
	padding-top: 0%;
}
/*  H1   */
.intro h1 {
	letter-spacing: 1px;
	color: rgb(173, 44, 0); 
}
/*  P   */
.intro p {
	letter-spacing: 1px;
	word-spacing: 3px;
}
/* dont really ned this but it contains the div that has all the pictures */
.picbox {
	/*border: 1px solid yellow;*/
	/*height: 70%;*/
}
/*basic propertis of headings */
.pic h2 {
	/*border: 1px solid green;*/
	text-align: center;
	margin: 0;
	color: rgb(173, 44, 0);
}

/* this sets the size and properties of each div box that contains the images and headings */
.pic {
	display: inline-block;
	/*border: 1px solid yellow;*/
	width: 205px;
	height: 255px;
	margin: 7px; 
	margin-bottom: 2%;
	border-radius: 15px;
	background-color: #e8e9eb;


}
/* sets the size of the pictures inside the div!!1 VERY IMPORTANT!! */
.pic img {
	width: 205px;
	height: 205px;
	border-radius: 15px;
	box-shadow: 0px 10px 5px grey;
}

.pic img:hover{
	box-shadow: none;
}

/* CONTACT SECTION  */

footer {
	background-color: #212121;
	height: 300px;
}

.contact {
	/*border: 1px solid white;*/
	display: inline-block;
	width: 40%;
	margin-top: 5%;
	height: 60%;
	padding-left: 1%;
}

.contact input {
	display: block;
	width: 80%;
	margin: 1%;
}

.message {
	height: 25%;
}

.contact button {
	margin-top: 1%;
	background-color: #212121;
	color: #fff;
	border: 1px solid grey;
	border-radius: 10px;
}

.contact h1 {
	color: rgb(173, 44, 0);
}

.icons {
	/*border: 1px solid white;*/
	display: inline-block;
	width: 10%;
	margin-left: 90%;
	margin-bottom: 30%;
}

.icons i {
	border: 1px solid rgb(173, 44, 0);
	background-color: rgb(173, 44, 0);
	border-radius: 50%;
	margin: 2%;
	padding: 2%;

}



